<div class="artists-container">
  {% assign artists = site.data.artists | where_exp: "item", "item.edition == site.current_edition" %}
  {%- for artist in artists -%}
  <div class="artist-cell">
    <a href="{{ artist.url }}" class="artist-photo" target="_blank">
      <img src="{{ artist.headshot_path | relative_url }}" alt="{{ artist.first_name }} {{ artist.last_name }}" />
    </a>
    <div class="artist-description">
      <h3><a href="{{ artist.url }}" target="_blank">{{ artist.first_name }}  {{ artist.last_name }}</a> (<a href="http://instagram.com/{{ artist.instagram_handle }}">@{{ artist.instagram_handle }}</a>)</h3>
      <p>{{ artist.bio }}</p>
      <p>
        <em>
          {{ artist.quote }}
        </em>
      </p>
    </div>
  </div>
  {%- endfor -%}
</div>

<h3 class="centered-copy">
  EXHIBIT HOURS<br />
  8:00AM - 8:00PM | July 22 - July 30 <br />
  Aloft Hotel, 800 15th Street, Denver
</h3>
