<footer class="site-footer">
  <div class="content-section-header">
    <a name="about">About Something Independent</a>
  </div>
  <div class="content-section">
    <div class="wrapper">
      <p class="centered-copy">
        Over the years, we have come to see what 'real work' looks like and better understand the mindset that lies behind it – a disposition inherent to the Mountain West and the independent-minded men and women who carve their paths here. Current initiatives such as <a href="http://thewright.co/">The Wright</a>, S|I OutPost and Trade School provide a means through which to explore the challenges and possibilities that bring us closer to the core of meaningful work.
      </p>

      {% include mailchimp-si.html %}
    </div>
  </div>
</footer>
