<header class="site-header" role="banner">
  <div class="site-social">
    <a href="https://www.facebook.com/SomethingIndependent/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a href="https://instagram.com/somethingindependent" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="https://twitter.com/somethingindpnt" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
  </div>
  <div class="wrapper">
    <a href="{{ "/" | relative_url }}" class="site-title">Trade School</a>
    <h3 class="site-subtitle">Exploring the nature of work</h1>
  </div>
  <div class="site-attribution">
    <a href="#about" title="A project of Something Independent">
      A project of <img src="/assets/si_logo_white.png" alt="Something Independent" />
    </a>
  </div>
</header>

{% unless layout.exclude_tagline %}
  <section class="site-tagline">
    <div class="wrapper">
      January 24 &mdash; 28, 2018
    </div>
  </section>
{% endunless %}
