<header class="site-header" role="banner">
  <div class="wrapper">
    <a href="{{ "/" | relative_url }}" class="site-title">Trade School</a>
    <h3 class="site-subtitle">Exploring the nature of work</h1>
  </div>
  <div class="site-attribution">
    <a href="http://www.somethingindependent.com/" title="A project of Something Independent" target="_blank">
      A project of <img src="/assets/si_logo_white.png" alt="Something Independent" />
    </a>
  </div>

</header>

{% unless layout.exclude_tagline %}
  <section class="site-tagline">
    <div class="wrapper">
      January 24 &mdash; 28, 2018
    </div>
  </section>
{% endunless %}
