<div class="content-section-header">
  <a name="location">Location</a>
</div>
{% if include.description %}
  <div class="wrapper">
    <section class="content-section">
      {% capture location %}
        {%- include location.md %}
      {% endcapture %}
      {{ location | markdownify }}
    </section>
  </div>
{% endif %}
<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{ site.location_address | url_encode }}&key=AIzaSyAlRyNJifvgv8T2QFhiHG9ZgwQ1P7So8AM" allowfullscreen></iframe>
