<div class="content-section-header">
  <a name="sponsors">Sponsors</a>
</div>
<div class="wrapper">

  <p class="centered-copy">
    TRADE SCHOOL is presented by <a href="http://www.somethingindependent.com/">Something Independent</a> and made possible through the support of hard working partners, including:
  </p>

  <div class="sponsor-logos">
    <a href="https://choosecolorado.com/programs-initiatives/outdoor-recreation-industry-office/">
      <img src="/assets/logos/orec.png" alt="Colorado Outdoor Recreation Industry Office" />
    </a>
    <a href="http://larimersquare.com/">
      <img src="/assets/logos/larimer-square.png" alt="Larimer Square" />
    </a>
    <a href="http://tapinco.org/">
      <img src="/assets/logos/tapin.png" alt="Tap-IN" />
    </a>
    <a href="http://denvertheatredistrict.com/">
      <img src="/assets/logos/dtd.png" alt="Denver Theatre District" />
    </a>
    <a href="http://next100coalition.org/">
      <img src="/assets/logos/next100.jpg" alt="Tap-IN" />
    </a>
    <a href="http://wework.com/">
      <img src="/assets/logos/wework.png" alt="WeWork" />
    </a>
  </div>
</div>
