.site-header {
  background-color: $navy-color;
  position: relative;
  z-index: 1;
}

.site-header:before {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.2;

  background-image: url('/assets/bark_topo_pattern_white.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.site-title, .site-title:active, .site-title:hover, .site-title:visited  {
  display: block;
  position: relative;
  font-size: ms(9);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: 1;
  padding: $spacing-unit * 2 0 $spacing-unit / 2 0;
  text-align: center;
  text-decoration: none;
  color: $background-color;
  z-index: 10;
}

.site-subtitle {
  position: relative;
  font-size: ms(3);
  font-family: $base-font-family;
  font-weight: 100;
  line-height: 1;
  // padding: $spacing-unit 0 $spacing-unit / 2 0;
  text-align: center;
  text-transform: uppercase;
  color: $background-color;
  z-index: 10;
}

.site-attribution {
  position: relative;
  text-align: right;
  z-index: 10;
  width: 100%;
  padding-bottom: $spacing-unit;

  @include media-query($on-palm) {
    text-align: center;
    padding-bottom: $spacing-unit / 2;
  }

  a {
    margin: 0 $spacing-unit 0 0;
    font-size: ms(-1);
    font-family: $base-font-family;
    font-weight: 100;
    line-height: 1;
    color: $background-color;
    text-transform: uppercase;
    text-decoration: none;

    @include media-query($on-palm) {
      margin: 0;
    }
  }

  img {
    display: inline;
    height: 2.5em;
    padding-left: 1em;
  }
}

.site-tagline {
  text-align: center;
  background-color: $aqua-color;
  color: $background-color;
  font-size: ms(3);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  padding: $spacing-unit / 2 0;
}

/**
 * Site nav
 */

.site-nav {
  padding: $spacing-unit / 3 0;
  background-color: $aqua-color;
}

.site-nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.site-nav li {
  display: inline-block;
}

.site-nav li a {
  font-size: ms(1);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin: 1em;
  color: $background-color;
}


/**
 * Content sections
 */

.content-section {
  margin: $spacing-unit auto $spacing-unit * 2 auto;

  &.intro p {
    text-align: center;
  }
}

.content-section-header {
  width: 100%;
  color: $background-color;
  background-color: $aqua-color;
  text-align: center;
  padding: $spacing-unit / 2 0;
  font-size: ms(4);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;

  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
}

/**
 * E-mail form
 */

.email-form {
  margin: $spacing-unit auto auto auto;
  text-align: center;
  width: 70%;

  @include media-query($on-palm) {
    margin: auto 0;
    width: 100%;
  }
}

.email-form .form-header {
  font-size: ms(2);
  margin: 0;
}

.email-form form {
  margin: auto 0;
}

// These two come from Mailchimp's horizontal-slim default styling
.mc-field-group {
  display: inline-block;
}

#mc_embed_signup .clear {
  display: inline-block;
}

.email-form input[type="email"] {
  font-family: $heading-font-family;
  font-size: ms(1);
  padding: $spacing-unit / 2;
  margin: $spacing-unit / 2 0;
  background-color: $grey-color;
  color: $background-color;
  text-decoration: none;
  -webkit-appearance: none;
  border: none;
  width: calc(100% - #{$spacing-unit});
  width: -webkit-calc(100% - #{$spacing-unit});

  &:focus, &::placeholder {
    color: inherit;
  }
}

.email-form input[type="submit"] {
  font-family: $heading-font-family;
  font-size: ms(1);
  padding: $spacing-unit / 2;
  margin: $spacing-unit / 2 0;
  background-color: $aqua-color;
  color: $background-color;
  text-decoration: none;
  -webkit-appearance: none;
  border: none;
  width: 100%;
}

/**
 * Artist profiles
 */

.artists-container {
  padding: $spacing-unit 0;
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  @include media-query($on-palm) {
    margin: auto 0;
    width: 100%;
  }
}

.artist-cell {
  margin-bottom: $spacing-unit;
}

.artist-photo {
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;

  @include media-query($on-palm) {
    width: 100%;
  }
}

.artist-cell:nth-child(even) .artist-photo {
  float: right;
}

.artist-cell:nth-child(odd) .artist-photo {
  float: left;
}

.artist-description {
  margin: 0;
  padding: $spacing-unit / 2;
  font-size: ms(0);
  width: -webkit-calc(50% - (#{$spacing-unit}));
  width:         calc(50% - (#{$spacing-unit}));

  @include media-query($on-palm) {
    width: -webkit-calc(100% - (#{$spacing-unit}));
    width:         calc(100% - (#{$spacing-unit}));
  }
}

.artist-cell:nth-child(even) .artist-description {
  float: left;
}

.artist-cell:nth-child(odd) .artist-description {
  float: right;
}

.artist-tagline {
  font-style: italic;
  font-size: ms(0);
  margin-bottom: $spacing-unit / 2;
}

/**
 * Sponsors
 * * This is not built responsively - it scales down but does not re-layout
 */

.sponsor-logos {
  a {
    margin: $spacing-unit / 2 $spacing-unit / 2;
    text-align: center;
    vertical-align: middle;
  }

  img {
    width: 70%;
  }

  .logo-row-1up, .logo-row-2up, .logo-row-3up {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-row-3up a {
    width: -webkit-calc(33% - (#{$spacing-unit}));
    width:         calc(33% - (#{$spacing-unit}));
  }

  .logo-row-2up a {
    width: -webkit-calc(50% - (#{$spacing-unit}));
    width:         calc(50% - (#{$spacing-unit}));
  }

  .logo-row-1up a {
    width: -webkit-calc(100% - (#{$spacing-unit}));
    width:         calc(100% - (#{$spacing-unit}));
  }
}

.sponsor-copy {
  margin: $spacing-unit auto;
  text-align: center;
}
