.site-header {
  background-image: url('/assets/bark_topo_pattern.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-title {
  font-size: ms(5);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: 1;
  padding-top: $spacing-unit;
}

.site-subtitle {
  font-size: ms(2);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: 1;
}

.site-tagline {
  font-size: ms(1);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

/**
 * Site nav
 */

.site-nav {
  padding: $spacing-unit 0;
  background-color: $navy-color;
}

.site-nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align: center;
}

.site-nav li {
  display: inline-block;
}

.site-nav li a {
  font-size: ms(1);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin: 1em;
  color: $background-color;
}


/**
 * E-mail form
 */

.email-form {
  padding: $spacing-unit 0;
  margin: auto;
  text-align: center;
  width: 60%;

  @include media-query($on-palm) {
    margin: auto 0;
    width: 100%;
  }
}

.email-form .form-header {
  font-size: ms(2);
}

.email-form form {
  margin: auto 0;
}

.email-form input[type="email"] {
  font-family: $heading-font-family;
  font-size: ms(1);
  padding: $spacing-unit / 2;
  margin: $spacing-unit / 2 0;
  background-color: $grey-color;
  color: $background-color;
  text-decoration: none;
  -webkit-appearance: none;
  border: none;
  width: calc(100% - #{$spacing-unit});
  width: -webkit-calc(100% - #{$spacing-unit});

  &:focus, &::placeholder {
    color: inherit;
  }
}

.email-form input[type="submit"] {
  font-family: $heading-font-family;
  font-size: ms(1);
  padding: $spacing-unit / 2;
  margin: $spacing-unit / 2 0;
  background-color: $aqua-color;
  color: $background-color;
  text-decoration: none;
  -webkit-appearance: none;
  border: none;
  width: 100%;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
